.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    /* box-shadow: 0px 0px 0px #00000015; */
    background-color: rgb(233, 231, 229);
    transition: 0.3s;
    animation: fadeIn 0.5s;

}
.food-item-img-container img{
    width:100%;
    border-radius: 15px 15px 0px 0px;
}
.food-item-info{
    padding:2px 20px 20px 20px;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 0px;
}
.food-item-name-rating p{
    font-size: 18px;
    font-weight: 500;
}
.food-item-name-rating img{
    width: 70px;
}
.food-item-desc{
    font-size: 12px;
}
.food-item-price{
    font-size: 16px;
    font-weight: 500;
    color: tomato;
    padding: 5px 0px;
}
.food-item-img-container .add {
    position: relative;
    width:30px;
    cursor: pointer;
    left:85%;
    top:-40px;
}
.food-item-counter{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    width:80px;
    position: relative;
    left:70%;
    top:-40px;
    background-color: white;
    border-radius: 20px;
}
.food-item-counter img{
    width:25px;
    cursor: pointer;
}

