.add {
  width: 100%;
}

.add form {
  padding:0px max(7vw ,4px);
  padding-top:40px;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap:20px;

}
/* label */
.add p {
  font-size:16px;
  font-weight:400;
  color: #444;
}



/* Common vertical layout */
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Inputs / Textarea */
.add input,
.add textarea,
.add select {
  padding: 10px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  width: 100%;
}

.add textarea {
  resize: none;
}

/* Upload box */
.add-img-upload {
  align-items:start;
}

.add-img-upload img {
  width: 110px;
  cursor: pointer;
  border: 2px dashed #bbb;
  border-radius: 8px;
  padding: 10px;
  transition: 0.2s;
}

.add-img-upload img:hover {
  border-color: #666;
}

.add-category-price-container{
  display: flex;
  gap:20px;
  justify-content: space-between;

}

/* Button */
.add-btn {
  width:130px;
  padding: 12px;
  background: rgb(24, 24, 24);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  transition:0.2s;
}

.add-btn:hover {
  background: #202020;
  transform: scale(1.02);

}

/* Responsive */
@media (max-width:600px) {
  .add-category-price-container{
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: space-between;

}

}
