.cart {
    margin-top: 100px;
    margin-bottom: 10px;
}

.cart-items-title {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr 1fr 1fr 1fr;
    font-weight: 600;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    place-items: start;
}

.cart-items-item {
    font-weight: 450;
    align-items: center;
    margin-top: 5px;

}

.cart-items-item img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

@media(max-width:450px) {
    .cart {
        margin-top: 80px;
    }

    .cart-items-title {
        grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
        place-items: center;
    }

    .cart-items-item img {
        width: 50px;
        height: 40px;
    }
}

.remove {
    cursor: pointer;
    color: red;
}

.cart-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.cart-total {
    width: 30vw;
}

.cart-total-contenar {
    line-height: 20px;
}

.cart-total h2 {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}

.cart-total-details {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-between;
}

.cart-total-contenar hr {
    border: none;
    margin: 10px 0px;
    height: 1px;
    background-color: #e5e0e0;
}

.cart-total button {
    margin-top: 20px;
    padding: 10px 2vw;
    width: 200px;
    border-radius: 8px;
    border: 1px solid rgb(150, 142, 142);
}

.cart-total button:hover {
    transform: scale(1.01);
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid rgb(96, 225, 96);
}

.cart-promocode {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cart-promocode1 p {
    color: grey;
}

.cart-promocode-input {
    display: flex;
    flex-direction: row;
}

.cart-promocode-input input,
.cart-promocode-input button {
    margin-top: 20px;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 5px 0px 0px 5px;

    background-color: #f1efef;
    outline: none;
}

.cart-promocode-input button {
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.cart-promocode-input input:hover,
.cart-promocode-input button:hover {
    border: 1px solid green;
}

@media(max-width:750px) {
    .cart-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cart-total {
        width: 100%;
    }

    .cart-promocode {
        margin-top: 30px;
        width: 100%;
    }
}