.sidebar {
    display: flex;
    border: 1px solid black;
    min-height: 100vh;
    width: 18%;
    border-top: 0px;
    border-left: 0px;
    font-size: 18px;

}

.sidebar-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding-top: 50px;
    padding-right: 0px;
    padding-left: 20%;
}

.sidebar-option {
    display: flex;
    flex-direction: row;
    gap: 12px;
    border: 1px solid black;
    border-right: 0px;
    padding: 12px;
    align-items: center;
    cursor: pointer;
}
@media(max-width:1120px){
     .sidebar {
        /* width: 20%; */
        font-size:10px;
    }
}

@media(Max-width:900px) {

    .sidebar-options {
        padding-left: 10%;
        
    }
    .sidebar-option img{
        padding-left: 20px;
    }

    .sidebar-option {
        gap: 8px;
        padding: 12px 3px;
    
    }

   .sidebar-option p{
        display: none;
    }

}

@media(max-width:500px){
     .sidebar-option img{
        padding-left:10px;
    }
}

.active {
    font-weight: bold;
    color: rgb(170, 43, 43);
    background: #ede1e1;
}