.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    color: #49557e;
    font-size: 18px;
}

.navbar-menu li {
    cursor: pointer;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}

.navbar button:hover {
    background: #fff4f2;
}

.active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar-search-icon {
    position: relative;
}

.dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    right: -8px;
    top: -5px;

}

.navbar-profile {
    position: relative;
}

.navbar-profile img {
    cursor: pointer;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;

}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgb(174, 168, 168);
    list-style: none;

}

.nav-profile-dropdown img {
    width: 20px !important
}

.nav-profile-dropdown p {
    font-size: 16px;
}

.nav-profile-dropdown li{
    display: flex;
    flex-direction: row;
    gap:6px;
}
.order-pt{
     display: flex;
    flex-direction: row;
    gap:6px;
}

.nav-profile-dropdown li:hover {
    cursor: pointer;
    color: tomato;
}

@media(max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 18px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
        font-size: 14px;
    }

    .nav-profile-dropdown img {
        width: 17px !important;
        height: 17px;
    }

    .nav-profile-dropdown p {
        font-size: 15px;
    }

    .nav-profile-dropdown li {
        gap: 7px;
        
    }

}

@media(max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 15px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 14px;
    }
}

@media(max-width:750px) {
    .navbar-menu {
        display: none;
    }

    .nav-profile-dropdown img {
        width: 15px !important;
        height: 15px;
    }

    .nav-profile-dropdown p {
        font-size: 14px;
    }

    .nav-profile-dropdown li {
        gap: 6px;
    }
}