.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 20px 8vw;
    gap:10px;
}
 .footer-content{
    width: 100%;
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left ,.footer-content-right, .footer-content-center{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.footer-content-left, .footer-content-right li ,.footer-content-center li{
    list-style: none;
    line-height: 23px;
    cursor: pointer;
}
 .footer-content-right h2, .footer-content-center h2{
    margin-bottom:6px;
    color: white;
    font-weight: 600;
    font-size: 25px;
}
.footer-social-icons{
    display: flex;
    gap: 15px;
}

.footer-social-icons img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.hrtag{
    width: 100%;
    border: 0.5px solid #d9d9d9;
    margin-top: 10px;
}

@media(max-width:750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap:35px;
        align-items: start;
    }
}