.app-download {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto auto;
    text-align: center;
    margin: 100px 0px;
}

.app-download P{
    font-size:40px;
    color: #0e0d0d;
    margin-bottom:20px;
    align-items: center;
    justify-content: center;
}
.app-download-platforms{
    display: flex;
    gap: 30px;
}
.app-download-platforms img{
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.app-download-platforms img:hover{
    transform: scale(1.02);
    transition:0.3s;
}

@media(max-width:750px){
.app-download{
    margin:80px 0px
}
.app-download P{
    font-size:30px;
    margin-bottom:15px;
}
.app-download-platforms{
    display: flex;
    gap: 25px;
}
.app-download-platforms img{
    width: 140px;
    height: 45px;
}
}