.header {
    height:34vw;
    width: 100%;
    margin: 30px auto;
    background: url(/header_img.png) no-repeat;
    background-size:contain;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:1.5vw;
    max-width:50%;
    bottom:10%;
    left:6vw;
    animation:fadeIn 3s ;
}
.header-contents h2{
    color:white;
    font-weight:500;
    font-size:max(4.5vw,24px);
}
.header-contents p{
    color:white;
    font-size:max(1.5vw,12px);
}
.header-contents button{
   border: none;
   width: 120px;
  padding:10px 0px;
  border-radius:50px;
}

@keyframes fadeIn {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
    
}
@media(max-width:1050px){

.header-contents{
    max-width: 55%;
}

}

@media(max-width:750px){

.header-contents{
    max-width:60%;
}
.header-contents p{
    display:none;
}
.header-contents button{
    padding: 2vw 4vw;
}

}