.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size:24px;
    font-weight: 600;
}

.food-display-list{
   display:grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    margin-top: 30px;
    gap:30px;
    row-gap: 50px;
}

@media (max-width: 768px) {
    .food-display-list{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
