.list{
  padding:6vw 4vw 4vw 6vw;
}

.list h5{
    font-size:25px;
    font-weight: 450;
}

.list-table-format{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    align-items:center;
    border:1.2px solid rgb(185, 177, 177);
    padding:8px 23px;
    gap: 20px;
}

.list-table-format img{
    width:max(5vw,60px);
    border-radius: 8px;
}



@media(max-width:768px){

    .list h5{
    font-size:22px;
}

.list-table-format{
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    padding:8px 23px;
    gap:17px;
}

.list-table-format img{
    width:max(5vw,55px);
}

.close{
    width: 30px;
}

}

@media(max-width:450px){

    .list h5{
    font-size:18px;
}

.list-table-format{
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    padding:8px 15px;
    gap:10px;
}

.list-table-format img{
    width:max(5vw,50px);
}

.close{
    width: 25px;
}

}


